#set($layout = "pages/common/home.vm")
#set($title = "Galary")
#set($sider = "galary")
<base href="${rc.contextPath}/"/>

<style>
    img {
        width: 100%;
        max-width: 400px;
        padding: 10px 15px;
    }

    .tip {
        position: relative;
        top: 15px;
        right: 10px;
    }
</style>

<div class="content-wrapper">

    <section class="content-header ">
        <h1 class="text-success">
            <a href="galary/detail?belongType=$!belongTypeEnum.getType()" class="small-box-footer">返回图册($!belongTypeEnum.name)</a>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- /.col -->
            <div class="col-md-6">

                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-sm" id="exampleInputFileConfirm">上传压缩图</button>
                    <div class="progress progress-striped" id="uploadProgressDiv" style="display: none">
                        <div id="uploadProgress" class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0%;">
                        </div>
                    </div>
                    <div id="upload-container" class="col-xs-12 text-center" style="padding: 10px 1px 10px 1px">
                        <input type="file" name="file" id="exampleInputFilePreview">
                    </div>
                    <p class="help-block">jpg推荐使用此模式</p>
                    <input type="hidden" id="belongType" value="$!belongTypeEnum.type">
                </div>
                <br>

            </div>
            <!-- /.col -->
            <div class="col-md-6">

                <div class="form-group">
                    <label for="exampleInputFile">上传原图</label>
                    <form role="form" id="attachForm" action="${rc.contextPath}/picture/uploadOriginal" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" id="nonCompressFile">
                        <div class="progress progress-striped" id="uploadProgress2Div" style="display: none">
                            <div id="uploadProgress2" class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 0%;">
                            </div>
                        </div>
                        <p class="help-block">动图请使用此模式上传</p>
                        <input type="hidden" name="belongType" value="$!belongTypeEnum.type">
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="cdn/code/jquery/com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="../../dist/js/uploadPreview.js"></script>

<script>
    $("input[id='nonCompressFile']").on('change',function(){
        $("#uploadProgress2Div").show();
        $("#uploadProgress2").css("width","10%").text("");
        var formData = new FormData($("#attachForm")[0]);
        $.ajax({
            url: "attach/uploadOriginal",
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            dataType: "json",
            success: function (data) {
                if(data.success){
                    $("#uploadProgress2").css("width","100%").text("上传成功");
                }
            }
        });
    });

</script>
