<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbwang.calendar.dao.IUserDao">

  <resultMap type="com.zbwang.calendar.domain.User" id="BaseResultMap">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="INTEGER" property="userName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  
  <sql id="Base_Column_List">
    user_id, user_name, email, password
  </sql>
  
  <insert id="insertUser" parameterType="com.zbwang.calendar.domain.User">
  	<selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
   insert into user (logon_name, user_name, email, password, add_time)
    values (#{userNameInLowerCase,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, now())
  </insert>
  
   <select id="getUserByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
		<include refid="Base_Column_List" />
    from user
    where logon_name = #{userName,jdbcType=VARCHAR}
    limit 1
  </select>
  
   <select id="getUserByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    	<include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
    limit 1
  </select>
  
</mapper>