<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbwang.calendar.dao.IVoiceDao">

  <resultMap id="BaseResultMap" type="com.zbwang.calendar.domain.Voice">
    <id column="voice_id" jdbcType="INTEGER" property="voiceId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="voice" jdbcType="VARCHAR" property="voice" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="belong_type" jdbcType="VARCHAR" property="belongType" />
    <result column="belong_id" jdbcType="INTEGER" property="belongId" />
  </resultMap>
 
  <sql id="Base_Column_List">
    voice_id, user_id, voice, add_time, update_time, belong_type, belong_id
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from face_voice
    where voice_id = #{voiceId,jdbcType=INTEGER}
  </select>
  
    <select id="listVoices" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from face_voice
    where belong_type = 0
    order by add_time desc
    limit 0, 20
  </select>
  
    <select id="getCommentByVoiceIdGroup"  resultMap="BaseResultMap">
    select
    	<include refid="Base_Column_List"/>
    from face_voice
    where belong_type = 5 
    AND
     <foreach collection="voiceIds" item="voiceId" open="(" separator="or" close=")">
   	 	belong_id = #{voiceId,jdbcType=INTEGER}
  	</foreach>
  	order by add_time asc
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from face_voice
    where voice_id = #{voiceId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertVoice" parameterType="com.zbwang.calendar.domain.Voice">
    <selectKey keyProperty="voiceId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into face_voice (user_id, voice, add_time, 
      update_time, belong_type, belong_id
      )
    values (#{userId,jdbcType=INTEGER}, #{voice,jdbcType=VARCHAR}, now(), 
      now(), #{belongType,jdbcType=VARCHAR}, #{belongId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zbwang.calendar.domain.Voice">
    update face_voice
    set user_id = #{userId,jdbcType=INTEGER},
      voice = #{voice,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      belong_type = #{belongType,jdbcType=VARCHAR},
      belong_id = #{belongId,jdbcType=INTEGER}
    where voice_id = #{voiceId,jdbcType=INTEGER}
  </update>
</mapper>