<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
	xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:mvc="http://www.springframework.org/schema/mvc"		
	xsi:schemaLocation="http://www.springframework.org/schema/beans	
    http://www.springframework.org/schema/beans/spring-beans.xsd	
    http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd 
    http://www.springframework.org/schema/context	
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	 <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
	  <property name="driverClassName" value="com.mysql.jdbc.Driver" /> 
	  <property name="url" value="${url}" /> 
	  <property name="username" value="${username}" /> 
	  <property name="password" value="${password}" /> 
	  <property name="initialSize" value="1" /> 
	  <property name="minIdle" value="1" /> 
	  <property name="maxActive" value="30" />
	  <property name="maxWait" value="10000" />
	  <property name="timeBetweenEvictionRunsMillis" value="60000" />
	  <property name="minEvictableIdleTimeMillis" value="300000" />
	  <property name="testWhileIdle" value="true" />
	  <property name="testOnBorrow" value="true" /> 
	  <property name="testOnReturn" value="false" />
	  <property name="poolPreparedStatements" value="true" /> 
	  <property name="maxPoolPreparedStatementPerConnectionSize"   value="20" />
	 <!--  <property name="defaultAutoCommit" value="true" /> -->
	  <property name="validationQuery" value="select 1 " /> 
	 </bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:com/zbwang/calendar/dao/mapper/*.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="com.zbwang.calendar.dao" />  
         <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>    
    </bean>  
    
</beans>